@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bulma-primary-h: 265deg;
  --bulma-primary-l: 36%;
  --bulma-link-h: 54deg;
  --bulma-link-s: 82%;
  --bulma-link-l: 70%;
  --bulma-info-h: 0deg;
  --bulma-info-s: 0%;
  --bulma-info-l: 100%;
  --bulma-family-primary: 'Poppins', sans-serif;
}

html {
  height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(circle,rgb(85, 27, 140) 0%, rgb(66, 11, 143) 69%);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #f1e573;
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: #f1e573;

}

nav {
    width: 100%;
    height: 10vh;
    position: relative;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: #f1e573;
    text-shadow: 0 0 10px #f1e573;
}

.hamburg, .cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    opacity: 0;
    pointer-events: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links {
    display: flex;
}

.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
    border-bottom: 3px solid transparent;
}

.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #f1e573;
    transition: 0.2s linear;
}

.nav-container.links a:hover::before {
    width: 100%;
}

.nav-container .links a:hover, .nav-container .links a:active {
    color: #f1e573; 
    border-bottom: 3px solid #4C00BA;
}

.dropdown {
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px #4c00ba;
    transition: .2s linear;
}

.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: .2s linear;
}

.dropdown .links a:hover{
    background-color: #f1e573;
}

@media(max-width: 968px) {
    nav .logo {
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .nav-container .links {
        display: none;
    }

    .hamburg, .cancel {
        opacity: 1;
        pointer-events: visible;
    }

    .dropdown .links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

span {
    color: #f1e573;
}

.home-content {
    width: fit-content;
    justify-self: center;
    align-self: center;
}

.home-content h1 {
    font-size: clamp(2.2rem, 5vw, 6rem);
    font-weight: 700;
    color: white;
    border-bottom: 5px solid #f1e573;
}

.home-content p.line {
    text-align: left;
    justify-self: center;
}

.home-content p.line .line2 {
    border-bottom: 5px solid #8f873d;
    text-align: center;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 3rem auto;
}

.containment {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    border-radius: 1rem;
}

.text-box {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.left-container .text-box {
    text-align: end;
}

.header-text {
    border-bottom: 3px solid #f1e573;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.containment img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img{
    left: -20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #f1e573;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
    box-shadow: 0 0 10px #f1e573;
}

.social-icons {
    display: flex;
    justify-content: end;
    align-items: end;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    color: #f1e573  ;
    background-color: transparent;
    border: 0.2rem solid #f1e573;
    font-size: 1.5rem;
    border-radius: 50%;
    margin: 0 1.5rem 0 2rem;
    transition: .3s ease;
}

.social-icons a:hover {
    color: #4C00BA;
    transform: scale(1.3);
    background-color: #f1e573;
    box-shadow: 0 0 25px #f1e573;
}

.fadeUp {
    animation: fadeUp both;
    animation-timeline: view();
}

.text-box {
    animation-range: 20% cover 40%;
}

.text-box:nth-child(2) {
    animation-range: 0% cover 40%;
}

.text-box:last-child {
    animation-range: 0% cover 30%;
}

@keyframes fadeUp{
    from {
        opacity: 0;
        transform: translateY(10px) scale(0.5);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}